@use "../../../Styles/Helpers/variables" as *; // //mobil design
@use "../.././../Styles/Helpers/Mixins" as *;

.desktopWrapper {
	display: flex;
	justify-content: space-between;
	height: 4rem;
	margin: 0 40px;
	padding-top: 1.688rem;
}

.navMenu {
	background-color: $color-darkgrey;
	width: 26.563rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: -100%;
	z-index: 2000;

	transition: 850ms;

	ul {
		list-style: none;
		.rightAlign {
			display: flex;
			justify-content: end;
			padding: 45px 55px;
		}
		li {
			display: flex;

			.navText {
				@include text;
				color: $color-background;
				text-decoration: none;
				text-transform: capitalize;
				width: 200px;
				padding: 1rem 5rem;
			}
			a {
				width: 100%;
			}
		}
	}
}
.active {
	right: 0;
	transition: 350ms;
}

//mobil
@media (max-width: 767px) {
	.desktopWrapper {
		img {
			width: 100%;
		}
	}
}
