@use "../../../Styles/Helpers/variables" as *;
@use "../../../Styles/Helpers/Mixins" as *;

//mobil design
.mobilWrapper {
	.mobilHeader {
		display: flex;
		padding: 1rem;
		justify-content: space-between;
		align-items: center;

		.burgerMenu {
			color: $color-orange;
		}
	}
	.navMenu {
		background-color: $color-light;
		width: 13.75rem;
		margin-top: 5.5rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 110;
		transition: 850ms;
		ul {
			list-style: none;
			li {
				display: flex;
				justify-content: start;
				color: $color-light;
				list-style: none;
				.navText {
					@include artisttext;
					color: $color-dark;
					text-align: end;
					width: 200px;
					padding: 10px 0;
					&:hover {
						color: $color-orange;
					}
				}
				a {
					width: 100%;

					.IoClose {
						font-size: 2rem;
						width: 100%;
						background-color: $color-orange;
					}
				}
			}
		}
		&.active {
			right: 0;
			transition: 350ms;
		}
	}
}

//desktop design

.desktopWrapper {
	display: flex;
	justify-content: space-between;
	width: 70%;
	height: 4rem;
	margin: auto;
	margin-top: 1.88rem;
	@media (max-width: 1300px) {
		width: 100%;
	}
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		li {
			padding: 0 10px;
			a,
			.IoSearch {
				@include artisttext;
				color: $color-dark;
				&:hover {
					color: $color-orange;
				}
			}
		}
	}
}
