@use "./variables" as *;

@mixin title {
	width: 100%;
	padding-top: 30px;
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	text-transform: capitalize;
	color: $color-dark;
}

@mixin subtitle {
	font-size: 1.5rem;
	text-transform: capitalize;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: $color-dark;
}

@mixin subtitle2 {
	font-size: 1.5rem;
	text-transform: capitalize;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	text-transform: uppercase;
	padding: 30px;
	color: $color-dark;
}

@mixin text {
	font-size: 1rem;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	font-weight: 400;
	padding: 0 30px;

	color: $color-dark;
}

@mixin artisttext {
	font-size: 1rem;
	font-family: "Trebuchet MS", Tahoma, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: $color-dark;
	text-decoration: none;
	color: $color-light;
}
