$color-dark: #000000;
$color-darkborder: #333333;
$color-light: #ffffff;
$color-lightgray: #efefef;
$color-darkgray: #333333;
$color-red: #e9485b;
$color-blue: #4a6fbf;
$color-green: #54a047;
$color-purple: #a12e8f;
$color-orange: #ff9933;
