@use "./Styles//Helpers/variables" as *;
@use "./Styles/Helpers/Mixins" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $color-light;
}

header {
	width: 100%;
	height: 5.8rem;
	background-color: $color-light;
}

footer {
	width: 100%;
	height: 36rem;
	background-color: $color-dark;
}
