@use "../../../Styles/Helpers/Mixins" as *;
@use "../../../Styles/Helpers/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

.footer {
	display: flex;
	justify-content: space-between;
	padding: 2.75rem 10rem;
	color: $color-background;

	section {
		justify-content: end;
		align-items: end;
		text-align: end;
		h2 {
			font-family: "Irish Grover", system-ui;
			font-weight: 400;
			padding-bottom: 1.25rem;
		}
		ul {
			font-size: 1.125rem;
			font-family: "Open Sans", sans-serif;

			color: $color-background;
			list-style: none;
			padding-bottom: 1.25rem;
		}
		h3,
		p {
			color: $color-background;
			margin: 10px 0;
		}
	}
	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: end;
		input {
			display: block;
			width: 23.125rem;
			height: 3rem;
			border-radius: 5px;
			&::placeholder {
				font-family: "Open Sans", sans-serif;
				font-size: 16px;
				font-weight: 300;
				padding-left: 1rem;
			}
		}
		button {
			width: 185px;
			background-color: #5f657b;
			margin-top: 10px;
			&:hover {
				cursor: pointer;
			}
			&:active {
				transform: scale(0.8);
			}
		}
	}
}

@media (max-width: 768px) {
	.footer {
		height: 100%;
		flex-direction: column;
		padding: 12px;
		section {
			justify-content: center;
			align-items: center;
			text-align: center;
			h3 {
				font-size: 20px;
			}
		}
		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
}
