@use "../../../Styles/Helpers/Mixins" as *;
@use "../../../Styles/Helpers/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

.footer {
	display: flex;
	justify-content: space-between;
	padding: 2.75rem 10rem;
	color: $color-background;

	section {
		justify-content: end;
		align-items: end;
		text-align: end;
		h2 {
			font-family: "Irish Grover", system-ui;
			font-weight: 400;
			padding-bottom: 1.25rem;
		}
		ul {
			font-size: 1.125rem;
			font-family: "Open Sans", sans-serif;

			color: $color-background;
			list-style: none;
			padding-bottom: 1.25rem;
		}
		h3,
		p {
			color: $color-background;
			margin: 10px 0;
		}
	}
	form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: end;
		input {
			display: block;
			width: 23.125rem;
			height: 3rem;
			border-radius: 5px;
			&::placeholder {
				font-family: "Open Sans", sans-serif;
				font-size: 16px;
				font-weight: 300;
				padding-left: 1rem;
			}
		}
		button {
			width: 185px;
			background-color: #5f657b;
			margin-top: 10px;

			// height: 39px;
			// top: 201px;
			// left: 1167px;
			// padding: 7px 57px 7px 57px;

			// border-radius: 4px 0px 0px 0px;
			// opacity: 0px;
			// z-index: 10;
			&:hover {
				cursor: pointer;
				// background-color: $color-orange;
			}
			&:active {
				transform: scale(0.8);
			}
		}
	}
}
