@use "../../../Styles//Helpers/Mixins" as *;

.selectedNews {
	width: 100%;
	padding-bottom: 50px;
	p {
		@include text;
		white-space: pre-line;
	}
	img {
		width: 100%;
	}
}

// PC
@media (min-width: 992px) {
	.newsWrapper {
		display: block;
		flex-direction: column-reverse;
	}
	.selectedNews {
		width: 50%;
	}
}
