@use "../../../Styles//Helpers/variables" as *;
@use "../../../Styles//Helpers/mixins" as *;

.newsSubNav {
	position: relative;
	left: 0;
	width: 100%;

	top: 45%;

	height: 600px;
	padding: 0px 0px 278px 0px;
	border-radius: 8px;
	background-color: $color-lightgray;

	.seeAlso {
		@include text;
		height: 48px;
		color: $color-background;
		padding: 10px;
		border-radius: 8px 8px 0 0;
		background-color: $color-bluegrey;
	}
}
.newsBox:first-of-type {
	background-color: $color-greengold;
}
.newsBox {
	padding-left: 19px;
	height: 84px;
	border-bottom: solid 1px #b1b1b1;
	h5 {
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 21.79px;
		padding-top: 9px;
		color: $color-bluegrey;
	}
	p {
		font-family: "Open Sans", sans-serif;
		font-size: 16px;
		font-weight: 300;
		line-height: 21.79px;
		text-align: left;
		color: black;
	}
}

// PC
@media (min-width: 992px) {
	.newsSubNav {
		position: absolute;
		left: 60%;
		width: 329px;
	}
}
