@use "../../../Styles/Helpers/variables" as *;
.loginWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.form {
		input {
			margin-top: 15px;
			display: block;
		}
		button {
			margin-top: 15px;
		}
	}
}

.passwordWrapper {
	margin-top: 50px;
	.form {
		input {
			margin-top: 15px;
			display: block;
		}
		h3 {
			padding: 0 !important;
		}
	}
}
.buttonContainer {
	align-self: flex-end;
	display: flex;
	justify-content: flex-end;
	:hover {
		// background-color: $color-darkborder;
		// color: $color-light;
	}
}
.errorMessage {
	color: red;
	margin-top: 10px;
}
.successMessage {
	color: green;
	margin-top: 10px;
}
