@use "../../../Styles/Helpers/variables" as *;
@use "../../../Styles/Helpers/mixins" as *;
.supNavigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	ul {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		width: 100%;
		height: fit-content;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		list-style: none;
		gap: 1px;
		li {
			width: 100%;
			height: 3.75rem;
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			background-color: $color-darkgray;
			a {
				@include artisttext;
				width: 100%;
			}
		}
	}
}
