@use "../../../Styles/Helpers/variables" as *;
@use "../../../Styles/Helpers/mixins" as *;

.supNavigation {
	width: 100%;
	background-color: $color-darkgrey;
	height: 95px;

	ul {
		display: flex;
		list-style: none;
		justify-content: space-around;
		align-items: center;
		text-align: center;
		padding-top: 30px;
		margin: 0 120px;

		li {
			width: 100%;

			a {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				color: $color-background;
				text-transform: uppercase;
				font-family: "Open Sans", sans-serif;
				font-size: 24px;
				font-weight: 400;
				padding: 0 10px;

				&:active {
					color: $color-yellow;
				}
			}
		}
	}
}
