@use "./Helpers/variables" as *;
@use "./Helpers/mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.title {
	font-family: "Russo One", sans-serif;
	font-size: 52px;
	font-weight: 400;
	line-height: 62.66px;
}

.subtitle {
	@include subtitle;
}

.subtitle2 {
	@include subtitle2;
}

// flyttet til stuledComponent

// .button {
// 	width: 118px;
// 	height: 48px;
// 	margin: 10px;
// 	top: 20px;
// 	left: 20px;
// 	padding: 16px 5px 16px 5px;
// 	gap: 10px;
// 	border-radius: 8px;
// 	border: 1px solid $color-darkborder;
// 	font-family: Open Sans;
// 	font-size: 16px;
// 	line-height: 16px;
// 	color: $color-dark;
// 	background: $color-light;

// 	&:hover {
// 		animation-timing-function: ease-out;
// 		animation-duration: 300ms;
// 		background: $color-orange;
// 	}
// }

.buttonDark {
	width: 118px;
	height: 48px;
	margin: 10px;
	top: 20px;
	left: 20px;
	padding: 16px 5px 16px 5px;
	gap: 10px;
	border-radius: 8px;
	font-family: Open Sans;
	font-size: 16px;
	line-height: 16px;
	color: $color-dark;
	background: $color-lightgray;

	&:hover {
		animation-timing-function: ease-out;
		animation-duration: 300ms;
		background: $color-orange;
	}
}

.buyButton {
	width: 83px;
	height: 34px;
	top: 20px;
	left: 20px;
	background: $color-green;

	&:hover {
		animation-timing-function: ease-out;
		animation-duration: 300ms;
		background: $color-orange;
	}
}

.subnavButton {
	width: 165px;
	height: 60px;
	top: 20px;
	left: 20px;
	padding: 19px 50px 19px 51px;
	background: $color-darkgray;

	&:hover {
		animation-timing-function: ease-out;
		animation-duration: 300ms;
		background: $color-lightgray;
	}
}

.iconClose {
	width: 16px;
	height: 16px;
	top: 20px;
	left: 20px;
	padding: 1.1px 1.81px 1.81px 1.1px;
	color: $color-dark;

	&:hover {
		animation-timing-function: ease-out;
		animation-duration: 300ms;
		color: $color-orange;
	}
}

.iconSearch {
	width: 16px;
	height: 16px;
	top: 20px;
	left: 20px;
	padding: 2px 1.24px 1.96px 2px;
	color: $color-dark;
	&:hover {
		animation-timing-function: ease-out;
		animation-duration: 300ms;
		color: $color-orange;
	}
}

.input {
	width: 208px;
	height: 48px;
	top: 34px;
	left: 32px;
	padding: 16px 15px 16px 14px;
	border-radius: 8px;
	border: 1px solid $color-darkborder;
}

.hero {
	img {
		width: 100%;
		height: 21.31rem;
		object-fit: cover;
	}
}

.grid {
	display: grid;
	width: 100%;
	grid-template-columns: 2fr 1fr;
	gap: 1.31rem;
}

.gridReverse {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 2fr;
	gap: 1.31rem;
}

.errorMessage {
	color: red;
	margin-top: 10px;
}
.successMessage {
	color: green;
	margin-top: 10px;
}
